.pxl-counter {
	.pxl--counter-number {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
	}
}
.pxl-counterslide {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-flex;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
	.pxl-counterslide-inside {
	  display: inline-flex;
	}
	.pxl-counterslide-digit-spacer {
		visibility: hidden;
	}
	.pxl-counterslide-digit, .pxl-counterslide-digit-spacer {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-flex;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
	}
	.pxl-counterslide-digit-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
	.pxl-counterslide-ribbon {
		display: block;
	}
	.pxl-counterslide-ribbon-inner {
		display: block;
		-webkit-backface-visibility: hidden;
	}
	.pxl-counterslide-value {
		display: block;
  		-webkit-transform: translateZ(0);
	}
	.pxl-counterslide-value.pxl-counterslide-last-value {
		position: absolute;
	}
	&.pxl-counterslide-animating-up .pxl-counterslide-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
	}
	&.pxl-counterslide-animating-up.pxl-counterslide-animating .pxl-counterslide-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	&.pxl-counterslide-animating-down .pxl-counterslide-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	&.pxl-counterslide-animating-down.pxl-counterslide-animating .pxl-counterslide-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

.pxl-counter1 {
	.pxl-counter--icon {
		line-height: 1;
		margin-bottom: 32px;
		font-size: 80px;
		color: $primary_color;
		svg {
			height: 80px;
			fill: $primary_color;
		}
		img {
			max-height: 80px;
		}
	}
	.pxl-counter--number {
		line-height: 1;
		font-weight: bold;
		color: #fff;
		@extend .ft-theme-default;
		font-size: 48px;
		display: inline-flex;
		margin-bottom: 9px;
		@media #{$max-md} {
			font-size: 40px;
		}
	}
	.pxl-counter--suffix {
		color: #ff00c8;
	}
	.pxl-counter--prefix {
		color: #ff00c8;
	}
	.pxl-counter--title {
		font-size: 20px;
		color: #f4f4f4;
		font-weight: 400;
		line-height: 1.333333;
		@extend .ft-theme-default;
		display: inline-flex;
		@media #{$max-md} {
			font-size: 18px;
		}
	}
}

.pxl-counter2 {
	.pxl-counter--inner {
		position: relative;
		padding: 0 25px 20px 0;
		@include transition(all 0.3s);
		&:hover {
			&:before {
				opacity: 1;
				width: 45%;
				left: 0;
				background-position: 100% 0;
				@include transition(all 0.5s ease-in-out);
			}
			&:after {
				opacity: 1;
				width: 45%;
				right: 0;
				background-position: 100% 0;
				@include transition(all 0.5s ease-in-out);
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: -5px;
			bottom: 0;
			height: 5px;
			width: 0;
			opacity: 0;
			@include transition(all 0.3s);
			background-size: 300% 100%;
  			background-image: linear-gradient(to right, #09d2f4, #6e42c2, #09d2f4, #6e42c2);
		}
		&:after {
			content: '';
			position: absolute;
			right: -5px;
			bottom: 0;
			height: 5px;
			width: 0;
			opacity: 0;
			@include transition(all 0.3s);
			background-size: 300% 100%;
  			background-image: linear-gradient(to right, #09d2f4, #6e42c2, #09d2f4, #6e42c2);
		}
		.pxl-counter--icon {
			font-size: 30px;
			i {
				color: $primary_color;
			}
		}
		.pxl-counter--meta {
			display: flex;
  			align-items: center;
		}
		.pxl-counter--number {
			font-size: 53px;
			font-weight: bold;
			font-family: 'Inter Tight', sans-serif;
			color: #000;
			line-height: 1;
			display: flex;
		}
		.pxl-counter--title {
			font-size: 18px;
			font-weight: 500;
			color: #000;
			font-family: 'Roboto', sans-serif;
			padding-left: 45px;
			margin-top: 5px;
		}
	}
}

body.rtl {
	
}