.pxl-pricing1 {
    background-color: #FBFBFB;
    padding: 40px 30px;
    text-align: center;
    @include border-radius(30px);
    @media (max-width: 991px) {
    	padding: 35px 20px;
    }
    .pxl-item--title {  
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 2px;
        color: #005EF9;
        font-family: 'Inter Tight', sans-serif;
        @media #{$max-md} {
            font-size: 20px;
        }
    }
    .pxl-item--subtitle {  
        font-size: 24px;
        margin-bottom: 30px;
        color: #000;
        font-weight: 700; 
        @media #{$max-md} {
            font-size: 20px;
        }
    }
    .pxl-item--popular {
        margin-bottom: 26px;
        span {
            font-size: 15px;
            display: inline-block;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 32px;
            padding: 0 30px;
            border-radius: 32px;
            font-family: 'Inter Tight', sans-serif;
            background-size: 250% 400%;
  			background-image: linear-gradient(to right, #f900a0, #6e00fa, #f900a0, #6e00fa);
        }
    }
    .pxl-item--feature {
        color: #041442;
        list-style: none;
        margin: 0 0 36px;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Inter Tight', sans-serif;
        @media #{$max-md} {
            font-size: 15px;
        }
        i {
            font-size: 14px;
            color: #005EF9;
            margin-right: 12px;
        }
        li + li {
            margin-top: 26px;
            @media #{$max-md} {
                margin-top: 20px;
            }
        }
        .non-active i {
            color: #eb2b00;
            font-size: 11px;
            &:before {
                content: "\f126";
            }
        }
    }
    .pxl-item--button {
        a {
            padding: 0 18px;
            line-height: 48px;
            font-size: 13px;
            text-transform: uppercase;
            @extend .ft-theme-default;
            @media #{$max-md} {
                font-size: 12px;
                padding: 0 15px;
            }
        }
    }
    .pxl-item-content {
    	display: flex;
	  	align-items: end;
	  	justify-content: center;
	  	font-size: 38px;
        font-weight: bold;
        color: #212121;
        font-family: 'Inter Tight', sans-serif;
        margin-bottom: 18px;
    }
    .pxl-item--price {
        font-size: 38px;
        font-weight: bold;
        color: #212121;
        font-family: 'Inter Tight', sans-serif;
        @extend .ft-theme-default;
        line-height: 1;
        margin-right: 5px;
        @media #{$max-md} {
            font-size: 24px;
        }
        small {
            font-size: 20px;
            @media #{$max-md} {
                font-size: 14px;
            }
        }
    }
    .pxl-item--time {
    	font-size: 20px;
    	@media (max-width: 991px) {
    		font-size: 15px;
    	}
    }
    .pxl-item--meta {
        background-color: #fff;
        padding: 31px 20px 30px;
        @include box-shadow(0 1px 61px rgba(#000000, 0.09));
        @include border-radius(30px);
        @media #{$max-md} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .pxl-item--button {
    	.btn {
    		@include border-radius(100px);
    		background-color: #005EF9;
    		font-size: 16px;
			font-style: normal;
			font-weight: 500;
			color: #fff;
			font-family: 'Inter Tight', sans-serif;
			text-transform: unset;
			padding: 0 24px;
    	}
    }
    &.pxl-pricing-popular {
        background-color: #fff;
        @include box-shadow(0 1px 61px rgba(#000000, 0.08));
        .pxl-item--meta {
            @include box-shadow(none);
            @include background-horizontal(#ffc612, #ff5d00);
            .pxl-item--price {
                color: #fff;
            }
            .pxl-item--time {
		    	color: #fff;
		    }
            .pxl-item--button .btn {
                background: #fff;
                color: #212121;
                &:after {
                    background-color: $primary_color;
                }
                &:hover, &:focus {
                    background: #fff;
                    color: #212121;
                }
            }
        }
    }
}

.pxl-pricing2 {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > div {
        padding: 0 15px;
    }
    .pxl-pricing--left {
        width: 50%;
        @media #{$max-sm} {
            width: 100%;
        }
        .pxl-item--heading {
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: bold;
            color: #000000;
            font-family: 'Inter Tight', sans-serif;
            line-height: 1.2;
            max-width: 350px;
            @media #{$max-md} {
                font-size: 36px;
            }
            @media #{$max-sm} {
                font-size: 30px;
            }
            .pxl-title-gradient {
                font-style: inherit;
                background: linear-gradient(90deg, #002aff 0%, #07ebff 80%);
                background-clip: border-box;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .pxl-item--sub {
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            font-family: 'Inter Tight', sans-serif;
            background: linear-gradient(100deg, #FF9A3E 0.51%, #FF5266 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            margin-bottom: 5px;
            display: inline-block;
        }
        .pxl-item--description {
            color: #444444;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            padding-right: 80px;
            @media (max-width: 1024px) {
                padding-right: 0;
            }
            p {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .pxl-pricing--right {
        position: relative;
        width: 50%;
        @media #{$max-sm} {
            width: 100%;
            margin-top: 80px;
        }
    }
    .pxl-pricing--item {
        padding: 62px 30px 43px;
        background-color: #fff;
        margin: 0;
        max-width: 370px;
        width: 100%;
        @include box-shadow(0 0 30px rgba(#000, 0.12));
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-align: center;
        @include border-radius(15px);
        @media #{$max-sm} {
            max-width: 100%;
            width: 100%;
        }
        @media #{$max-xs} {
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 15px;
        }
        .pxl-pricing--popular {
            @include box-shadow(0 6px 18px rgba(#000, 0.15));
            line-height: 33px;
            height: 33px;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            background: linear-gradient(80deg, #812aef 0.51%, #193ab1 90%);
            position: absolute;
            width: 180px;
            padding: 0 10px;
            @include transform(rotate(-45deg));
            top: 25px;
            left: -48px;
            font-family: 'Poppins', sans-serif;
        }
        .pxl-pricing--meta {
            text-align: center;
            position: relative;
            z-index: 1;
            .pxl-pricing--meta-inner {
                width: 100%;
                margin-bottom: 35px;
            }
        }
        .pxl-pricing--title {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 21px;
            font-weight: bold;
            font-style: inherit;
            background: linear-gradient(90deg, #d100b8 0.50%, #fe1660 80%);
            background-clip: border-box;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 5px 15px rgba(255,22,95,0.2);
        }
        .pxl-pricing--price {
            font-size: 72px;
            line-height: 1;
            color: #000000;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: 'Inter Tight', sans-serif;
            @extend .ft-theme-default;
            small {
                font-size: 25px;
                font-weight: 600;
                font-weight: inherit;
                margin-left: 3px;
                margin-right: 3px;
                margin-top: 7px;
            }
        }
        .pxl-pricing--feature {
            text-align: left;
            list-style: none;
            font-size: 17px;
            color: #505050;
            font-family: 'Inter Tight', sans-serif;
            margin-bottom: 50px;
            padding-left: 40px;
            @media #{$max-md} {
                padding-left: 0px;
            }
            li {
                display: flex;
                align-items: center;
            }
            span {
                width: 22px;
                min-width: 22px;
                height: 22px;
                @include border-radius(50%);
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(90deg, #00f100 0.50%, #06c106 80%);
                margin-right: 10px;
                font-size: 12px;
                box-shadow: 0px 5px 5px rgba(0,242,0,0.2);
            }
            i {
                color: #fff;
                margin-top: 1px;
            }
            li + li {
                margin-top: 27px;
            }
        }
        .pxl-pricing--button {
            .btn {
                line-height: 40px;
                padding: 0 25px;
                @include border-radius(0px);
                font-size: 11px;
                color: #fff;
                position: relative;
                background-color: unset;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
                font-weight: bold;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-size: 300% 100%;
                    background-image: linear-gradient(to right,#0031ff,#07e7ff,#0031ff,#07e7ff);
                    z-index: -1;
                }
            }
        }
    }
    .pxl-pricing--body {
        padding-left: 25px;
        position: relative;
        z-index: 1;
        @include transition(all .2s cubic-bezier(.645,.045,.355,1));
        @media #{$max-md} {
            padding-left: 0;
            padding-right: 60px;
        }
        @media #{$max-sm} {
            padding-right: 0px;
        }
        .pxl-pricing--item {
            @include transition(all .2s cubic-bezier(.645,.045,.355,1));
            &.pxl-item--last {
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                @include transform(translate(0, -50%) scale(0.88));
                z-index: -1;
                @media #{$max-md} {
                    right: -15px;
                }
                @media #{$max-sm} {
                    right: 0;
                    position: static;
                    @include transform(translate(0, 0%) scale(1) !important);
                }
                .pxl-pricing--button .btn {
                    &:before {
                        background-image: linear-gradient(to right,#1700a0,#1700a0,#1700a0,#1700a0);
                    }
                }
                &:hover {
                    @include transform(translate(0, -50%) scale(1));
                    z-index: 9;
                    @media #{$max-md} {
                        right: 0px;
                    }
                    .pxl-pricing-button .btn {
                        @include box-shadow(0 6px 8px rgba($primary_color, 0.3) !important);
                        &:hover, &:focus {
                            &:before {
                                background-position: 100% 0;
                                @include transition(all .4s ease-in-out);
                            }
                        }
                    }
                }
            }
            @media #{$max-sm} {
                + .pxl-pricing--item {
                    margin-top: 30px;
                }
            }
        }
        &.pxl-item--last-active {
            .pxl-pricing--item {
                &.pxl-item--first {
                    @include transform(scale(0.88));
                    z-index: -1;
                    @media #{$max-sm} {
                        @include transform(scale(1));
                    }
                    .pxl-pricing--button .btn {
                        &:before {
                            background-image: linear-gradient(to right,#1700a0,#1700a0,#1700a0,#1700a0);
                        }
                    }
                }
                &.pxl-item--last {
                    .pxl-pricing--button .btn {
                        &:before {
                            background-image: linear-gradient(to right,#0031ff,#07e7ff,#0031ff,#07e7ff);
                        }
                    }
                }
            }
        }
        &.pr-hide {
            opacity: 0;
            visibility: hidden;
        }
    }
    .pxl-pricing--year {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        opacity: 0;
        height: 100%;
        visibility: hidden;
        &.pr-active {
            opacity: 1;
            visibility: visible;
        }
    }
    .pxl-item--button {
        color: #747476;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        a {
            border-bottom: 1px solid rgba(#7879d3, 0.6);
            margin-left: 4px;
            font-weight: bold;
            color: #3636c2;
            &:hover, &:focus {
                border-color: #7879d3;
            }
        }
    }
    .pxl-pricing--nav {
        padding-top: 60px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 46px;
        margin-left: -9px;
        margin-right: -9px;
        span {
            font-size: 18px;
            color: #999999;
            font-weight: bold;
            margin: 0 9px;
            font-family: 'Inter Tight', sans-serif;
            @include transition(all .2s cubic-bezier(.645,.045,.355,1));
            @media #{$max-sm} {
                font-size: 16px;
            }
            &.pxl-item--navmonthly {
                color: #000000;
            }
        }
        .pxl-item--nav {
            width: 156px;
            height: 63px;
            border: 2px solid #e7ecfd;
            border-radius: 63px;
            background-color: #fff;
            position: relative;
            cursor: pointer;
            margin: 0 9px;
            @include box-shadow(0 15px 27px rgba(#04041d, 0.17));
            @media #{$max-md} {
                width: 126px;
            }
            &:before {
                content: '';
                width: 49px;
                height: 49px;
                @include border-radius(49px);
                background: linear-gradient(80deg, $gradient-color-to 0.50%, #ffca00 80%);
                position: absolute;
                top: 50%;
                left: 7px;
                @include transform(translate(0, -50%));
                @include transition(all .2s cubic-bezier(.645,.045,.355,1));
            }
        }
        &.active {
            .pxl-item--nav:before {
                left: 96px;
                @media #{$max-md} {
                    left: 66px;
                }
            }
            .pxl-item--navmonthly {
                color: #999;
            }
            .pxl-item--navyear {
                color: #000;
            }
        }
    }
}

body.rtl {
	
}