.pxl-tabs {
    .pxl-tab--title {
    	display: inline-flex;
        cursor: pointer;
        @include transition(all 250ms linear 0ms);
        position: relative;
    }
    .pxl-tab--content {
        display: none;
        width: 100%;
    }
    .elementor-section.elementor-section-stretched {
        width: auto !important;
        left: 0 !important;
    }
    .pxl-tabs--elementor > .elementor {
        margin: 0 -15px;
    }
    &.tab-effect-fade {
        .pxl-tab--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.pxl-tabs1 {
    &.style-1 {
        .pxl-tab--title {
            @extend .ft-theme-default;
            font-size: 18px;
            font-weight: bold;
            color: #666666;
            padding: 0 33px;
            position: relative;
            line-height: 43px;
            z-index: 1;
            margin-bottom: 10px;
            font-family: 'Inter Tight', sans-serif;
            @include transition(all 0.3s);
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: #031343;
                opacity: 0;
                @include transition(all 0.3s);
                z-index: -1;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 2px;
                width: 100%;
                background-color: #f1f1f1;
                @include transition(all 0.3s);
                z-index: -2;
            }
            @media #{$max-sm} {
                font-size: 16px;
                padding: 0 20px;
            }
            &:hover, &.active {
                color: #fff;
                &:before {
                    height: 100%;
                    opacity: 1;
                }
                &:after {
                    background-color: #031343;
                }
            }
        }
        .pxl-icon {
            font-size: 20px;
            svg {
                height: 25px;
            }
        }
        .pxl-tabs--title {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
        }
        .pxl-tabs--content {
            color: #585858;
        }
    }
    &.style-2 {
        .pxl-tab--title {
            @extend .ft-theme-default;
            position: relative;
            width: 65px;
            height: 65px;
            min-width: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            @include border-radius(50%);
            @include transition(all 0.3s);
            transform: scale(1);
            @media (max-width: 360px) {
                width: 50px;
                height: 50px;
                min-width: 50px;
            }
            .pxl-title--text {
                display: none;
            }
            &:nth-child(2) {
                margin-bottom: 60px;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 1;
                transform-origin: center;
                transform: scale(1);
                @include transition(all 0.3s);
                z-index: -1;
                border: 3px solid #ececec;
                @include border-radius(50%);
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 100%;
                transform-origin: center;
                transform: scale(0);
                background: linear-gradient(100deg, #fc009f 0.51%, #a400fc 100%);
                @include transition(all 0.3s);
                z-index: -2;
                opacity: 0;
                @include border-radius(50%);
            }
            @media #{$max-sm} {
                font-size: 16px;
                padding: 0 20px;
            }
            &:hover, &.active {
                transform: scale(1.5);
                .pxl-icon {
                    background: linear-gradient(100deg, #fff 0.51%, #fff 100%);
                    background-clip: border-box;
                    background-clip: border-box;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:before {
                    transform: scale(0);
                    opacity: 0;
                }
                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        .pxl-icon {
            font-size: 30px;
            background: linear-gradient(100deg, #fb00a1 0.51%, #a200ff 100%);
            background-clip: border-box;
            background-clip: border-box;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include transition(all 0.3s);
            @media (max-width: 360px) {
                font-size: 25px;
            }
            &.pxl-mr-10 {
                margin-right: 0;
            }
            svg {
                height: 30px;
            }
        }
        .pxl-tabs--title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;
            max-width: 500px;
            padding: 0 15px;
            margin: 0 auto;
            align-items: end;
            @media (max-width: 480px) {
                align-items: center;
            }
        }
        .pxl-tabs--content {
            color: #585858;
        }
    }
}